.container {
  width: 200px;
  display: flex;
  justify-content: center;
  border: solid 1px skyblue;
  padding: 10px 0px;
  border-radius: 20px;
  background: skyblue;
  margin-top: 30px;
}

.text {
  color: white;
  font-size: 23px;
}
